bitsandbytes
accelerate
google-generativeai
fastapi==0.115.8
pydantic==2.10.1
regex==2024.5.15
openai==1.64.0
flask
sentence-transformers
flask-cors
langchain
langsmith
faiss-cpu
python-dotenv
langchain-google-genai
langchain-community
gunicorn
boto3